/* ============== BOOTSTRAP OVERRIDE =============================================== */

body.admin > .navbar .brand {
	float: left;
	color: #eee;
	font-weight: normal;
	margin:0 20px 0 0;
}
.admin .dropdown-menu li > a {
	padding: 3px 10px;
}
.admin .dropdown-menu li > a i {
	margin-right: 5px;
}
.controls {
	background: #f9f9f9;
	padding: 10px 20px;
	min-height: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.users_update .controls {
	background: none;
	padding: 10px 0;
}
body.admin .controls label {
	min-width:100px;
}
body.admin .controls label, body.admin .controls p {
	float: left;
	line-height: 30px;
}
#page_attributes .control-group label {
	line-height: 51px;
}
body.admin .controls p {
	color: #3A87AD;
	padding: 0 0 0 18px;	
}
body.admin .update_details label {
	float: none;
}
body.admin .update_details .controls {
	padding: 0;
}
.table {
	min-width: 320px;
	border: 1px solid #eee;
}

#user_detail .pull-right > .dropdown-menu {
	padding: 10px;
}

/* ============== END BOOTSTRAP OVERRIDE =============================================== */



/* ============== GENERAL STYLES =============================================== */

.about {
	min-width: 340px;
}
label[for="forgot_password"] {
	text-align: right;
	display: block;
}
.alert-block {
	padding: 10px;
	margin: 0 0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	float: left;
	width: 98%;
}
.alert-block p {
	padding: 0 10px
}
.login .alert-block p {
	padding: 0;
}
.login .alert-block {
	padding: 5px 0 5px 10px;
}
.login .alert-block a {
	padding: 0;
}
.alert-block a {
	margin-right: 10px;
}
.clearfix {
	clear: both;;
}

sup {
	font-size: 13px;
}
#user_detail {
	margin: 0 0 20px;
	min-height: 20px;
}
.hidden {
	display: none;
}
.btn {
	margin: 0 0 5px;
}
.action_left, .action_right {
	width: 50%;
}
.action_right .pagination {
	margin: 0;
}
.action_right .pagination ul {
	float: right;
}
.POST_PAGE_CHOSEN_label {
	text-transform: capitalize;
}
.icon_status {
	display: block;
	width: 16px;
	margin: 0 auto;
}
.controls .text-error {
	padding: 0 0 0 10px;
}
/* ============== END GENERAL STYLES =============================================== */


/* ============== TABLE STYLES =============================================== */
.tbl_id {
	max-width: 20px;
}
.tbl_title {
	max-width: 100px;
}
.tbl_content {
	max-width: 200px;
}
table .tbl_status {
	text-align: center;
}
.tbl_actions {
	min-width: 200px;
}
table form {
	margin: 0;
}
.tbl_actions a, .tbl_actions .btn {
	float: left;
	margin: 0 5px;
}
/* ============== END TABLE STYLES =============================================== */

.btn-circle {
    border:0; 
    width: 20px; 
    height: 20px; 
    border-radius:15px; 
    moz-border-radius:15px;
    webkit-border-radius:15px;     
}
.icon-drag {
	display: block;
	width: 16px;
	height: 16px;
	background: url('../img/icon-drag.png') no-repeat;
	cursor: pointer;
}