/* Large desktop */
@media (min-width: 1200px) {
	.jumbotron {
	    margin: 120px 0;
	    text-align: center;
	}	
}
@media (max-width: 979px) and (min-width: 768px){
	.jumbotron {
	    margin: 0;
	    text-align: center;
	}	
}
@media (max-width: 767px){
	.jumbotron {
	    margin: 0;
	    text-align: center;
	}	
}
@media (min-width: 768px) {

	/*MENU ITEMS*/
	.menu > ul > li {
	    margin: 0;
	}
	li.menu-items ul li {
	    display: block;
	    height: 16px;
	    width: 340px;
	    padding: 0 30px;
	    float: left;
	}
	li.menu-items ul li.design-top,
	li.menu-items ul li.design-bottom.reverse {
	    background: url('../images/menu_design.png') no-repeat 0 0;
	}
	li.menu-items ul li.design-top.reverse,
	li.menu-items ul li.design-bottom {
	    background: url('../images/menu_design.png') no-repeat -430px 0;
	}

	li.menu-mid {
	    width: 260px;
	}
	img#logo {
	    display: block;
	    width: 145px;
	    margin: 0 auto;
	}
	li.menu-items ul li.design-mid {
	    padding: 15px 20px;
	}
	li.menu-items ul li.design-mid ul li {
	    float: left;
	    display: inline;
	    width: auto;
	    padding: 0 10px;
	    border-left: 1px solid #999;
	    text-align: center;
	    width: 90px;    
	}

	li.menu-items ul li.design-mid ul {
	    margin-left: 5px;
	}
	li.menu-items ul li.design-mid ul li a {
	    font-family: "Comic Sans MS", cursive, sans-serif;
	    color: #999;
	    font-size: 13px;
	    text-transform: uppercase;
	}
	li.menu-items ul li.design-mid ul li a:hover {
	    color: #333;
	}

	/*LEFT MENU*/
	li.menu-items.menu-right ul li.design-mid ul li:first-child {
	    width: 140px;
	    border: 0;
	}
	li.menu-items.menu-right ul li.design-mid ul li:nth-child(2){
	    padding: 0;
	    width: 62px;
	}
	li.menu-items.menu-left ul li.design-mid ul li:first-child {
	    border: 0;
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	
}